/* 
 Template name : TweetBirds HTML5 Portfolio Template
Author : Tweets Bird
version : 1.1

--------------------------------------------------
  Table of Contents
-----------------------------------------------------

    # COMMON STYLE.
     # BACK TO TOP.
     # MAIN STYLE .

Home page :
     1 /  Banner part.
     2 / MENU PART. 
          a . Logo
          b . Menu
          
    3 /  About me Part.
    4 / Services Part.
    5 / My Portfolio Part.
    6 / My Pricing Part.
    7 / Testimonial Part.
    8 / Contact me Part.
 
 9 / FOOTER PART.
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Baloo+Paaji:400|Sacramento');
* {
	margin: 0;
	padding: 0;
	outline: 0;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover,
a:focus {
    border-color: transparent;
    text-decoration: none;
    outline: 0;
}

img {
	border: 0;
}

.clr {
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address,
strong,
i {
	margin-top: 0px;
	margin-bottom: 0px;
	/* line-height: normal; */
}


/*=====================================
 All common class start 
=======================================*/

.common {
	margin-bottom: 80px;
	padding-top: 80px;
}

.heading h2 {
	font-size: 43px;
	color: #0CA79F;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
}

.heading p {
	font-size: 14px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

}

.heading h4 {
	font-size: 16px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}


/*=====================================
 All common class end 
=======================================*/

/*=====================================
 banner class start 
=======================================*/

/*MENU AREA CSS*/

.logo_container a {
	width: 196px;
	display: inline-block;
}

.main_menu {
	display: inline-block;
}

.main_menu a {
	text-decoration: none;
}

.main_menu a i {
	font-size: 19px;
	height: 35px;
	width: 35px;
	line-height: 34px;
	border-radius: 50%;
	border: 1px solid #0CA79F;
	color: #0CA79F;
    background: #fff;
	text-align: center;
}

.main_menu .menu_toggler {
	top: 30px;
	transition: 0.4s;
	position: fixed;
     z-index: 999;
}

.main_menu a .hamberger {

	position: relative;
	display: inline-block;
}

.main_menu a .hamberger:before,
.main_menu a .hamberger:after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: #434343;
}

.logo_container {
	display: inline-block;
	padding-top: 31px;
	width: calc(100% - 30px);
}

.main_menu a .hamberger:before {
	top: 5px;
}

.main_menu a .hamberger:after {
	bottom: 5px;
}


/* OFFSETMENU CSS */

.header_area {
	background: #f9f8ff;
}

.header_area2 {
	background: #f9f8ff;
	height: 511px;
}

.main_menu .offset_menu {
	position: fixed;
	display: table;
	text-align: center;
	z-index: 9999999;
	background: #0CA79F;
	height: 101vh;
	top: 0;
	right: 0;
	padding-left: 100px;
	padding-right: calc((100% - 1155px)/2);
	-webkit-transform: translate(100%);
	-ms-transform: translate(100%);
	transform: translate(100%);
	transition: 0.5s;

}

.offset_menu.visible {
	-webkit-transform: translate(0);
	-ms-transform: translate(0);
	transform: translate(0);

}

.offset_menu a {
	font-size: 20px;
	line-height: 52px;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
}

.menu_wrapper {
	display: table-cell;
	vertical-align: middle;
	position: relative;

}

.offset_menu a:hover {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.offset_menu .cross {
	display: inline-block;
	height: 20px;
	cursor: pointer;
	position: relative;
	top: -45px;
}

.cross span {
	width: 22px;
	height: 3px;
	background: #fff;
	display: block;
	position: relative;
	top: 11px;
}

.cross .left {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.cross .right {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 8px;
}


/*  Banner part start */

.banner_text {
	transform: translateY(-40%);
}
 #particles-js {
     position: absolute;
     opacity: .9;
     width: 100%;
     height: 100%;
     background-size: cover;
     background-position: 50% 0%;
     background-repeat: no-repeat;
     z-index: 0;
     top: 0;
 }
 
.banner_text h1 {
	font-size: 60px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    z-index: 99;
}

.banner_text h2 {
	font-size: 70px;
	color: #0CA79F;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
    z-index: 99;
}

.type_text h1 {
	margin-top: -5%;
}

.banner_text h4 {
	font-size: 24px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 200px;
	margin-top: -3%;
	margin-left: 4%;
}

.banner_image img {
	position: absolute;
	width: 470px;
	margin-top: 25%;
	left: 50%;
    transform: translate(-50%,-50%);

}

.cd-headline span {
	font-size: 26px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	float: left;
	margin-right: 1%;
}


/* mai banner part end */

/*=====================================
 banner class end 
=======================================*/

/*---------------------------------
        PRELOADER
--------------------------------*/

#preloader {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	background: #ffffff;
	text-align: center;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: rgb(0, 0, 0);
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;

}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #0CA79F;
	-webkit-animation: spin 3s linear infinite;
	animation: spin 3s linear infinite;
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: rgb(0, 0, 0);
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/*=====================================
 About me css end 
=======================================*/

.about_me {
	margin-top: 150px;
    margin-bottom: 5px;
}

.gap h2 {
	margin-bottom: 15px;
}

.gap p {
	margin-bottom: 20px;
}

.heading p {
	font-size: 14px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
    line-height: 24px;
}

.about_social h3 {
	font-size: 24px;
	color: #0CA79F;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
    line-height: 24px;
}

.about_social ul li i {
	float: left;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #444444;
	text-align: center;
	color: #444444;
	margin-right: 10px;
    margin-top: 15px;
}

.about_social ul li i:hover {
	background: #0CA79F;
	color: #ffffff;
	border: transparent;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
}

.about_part img {
	position: relative;
}

img .gambar {
	margin-top: 0;
}

.chatbox a {
	position: absolute;
	color: #0CA79F;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
    top: 50%;
    right: 0;
	text-align: center;
	background: #ffffff;
	border: transparent;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	z-index: 999;
}

.chatbox a i {
	padding-top: 5px;
	font-size: 18px;
}

/*=====================================
 About me css end 
=======================================*/

/*=====================================
 Service css start 
=======================================*/
.center {
	text-align: center;
}

.service_inner {
	margin-bottom: 7px;
	background: #f1f1f1;
}

.interest_icon {
	margin-left: 37%;
	
	margin-bottom: 25px;
	padding-top: 26px;
	display: inline-block;
}

.service_inner h4 {
	text-align: center;
	font-size: 20px;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 15px;
}

.service_inner p {
	text-align: center;
	font-size: 14px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 24px;
	padding: 0 20px 20px 20px;
}

.service_inner:hover h4 {
	color: #0CA79F;
	transition: all 0.5s ease;
}

.service_inner:hover {
	-webkit-box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.5);
	-moz-box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.5);
	box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.5);
	transition: all 0.5s ease;
}

.service_img {
	position: absolute;
	z-index: 10;
	transition: all 0.5s ease;
}

.service_img_hover {
	opacity: 0;
	transition: all 0.5s ease;
}

.service_inner:hover .service_img {
	opacity: 0;
	transition: all 0.5s ease;
}

.service_inner:hover .service_img_hover {
	opacity: 1;
	transition: all 0.5s ease;
}

.slidNext4 {
	position: absolute;
	right: -5px;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border-radius: 50%;
	top: 50%;
    transform: translateY(-50%);
	z-index: 99;
	padding-left: 3px;
	padding-top: 1px;
	background: #444444;
	color: #ffffff;
}


.slidNext4:hover {
	background: #0CA79F;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.8);
	-moz-box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.8);
	box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.8);
	transition: all 0.4s ease;
}

.slidprev4 {
	position: absolute;
	left: -5px;;
	height: 35px;
	width: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	border-radius: 50%;
	top: 50%;
    transform: translateY(-50%);
	z-index: 99;
	padding-top: 1px;
	background: #444444;
	color: #ffffff;
}

.slidprev4:hover {
	background: #0CA79F;
	-webkit-box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.8);
	-moz-box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.8);
	box-shadow: 0px 0px 12px 0px rgba(105, 90, 166, 0.8);
	transition: all 0.4s ease;
}


/*=====================================
 Service css end 
=======================================*/

/*=====================================
 My portfolio css start 
=======================================*/

.proj_row {
	margin-left: -15px;
	margin-right: -15px;
}

.port_bot {
	margin-bottom: -5%;
}
#project_mix.container-fluid{
    padding: 0;
}
.p0{
    padding: 0;
    margin: 0;
}
.filter-container {
	text-align: center;
	padding: 0px 20px 0px;
}
#project_mix.col-sm-2{
    padding: 0;
}
.portfolio_fillter ul.filter > li {
	color: #222222;
	font-size: 16px;
	line-height: 80px;
	text-transform: capitalize;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	cursor: pointer!important;
}

.portfolio_fillter ul.filter > li:hover,
ul.filter > li > a:focus {
	text-decoration: none;
	color: #0CA79F;
	outline: none;
}

.portfolio_fillter ul.filter > li.active {
	color: #0CA79F;
	display: inline-block;
}

.portfolio_fillter ul.filter > li span {
	color: #222222;
	font-size: 20px;
	display: inline-block;
	margin: 0 10px;
}

.filter-section .filter-container .filter > li {
	padding: 0;
	margin: 0;
}

.portfolio_img img {
    width: 100%;
	position: relative;
	overflow: hidden;
}

.mix,
.gap {
	display: inline-block;
}

.portfolio_img {
	position: relative;
	overflow: hidden;
}

.portfolio_img .overlay_shape {
	display: inline-block;
	background: #0CA79F;
	margin-left: 60%;
	padding-right: 50px;
	position: absolute;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	opacity: 0;
	left: 0;
	right: 0;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
    overflow: hidden;
}

.portfolio_img:hover .overlay {
	bottom: 0;
	height: 100%;
}

.portfolio_img:hover .overlay_shape {
	bottom: 0;
	opacity: 1;
	margin-bottom: -30%;
	transition: .5s ease;
}

.overlay_shape i {
	font-size: 20px;
	color: #fff;
	margin-left: 40%;
	margin-top: 35%;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0%;
	right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.overlay h3 {
	text-align: center;
	margin-top: 40%;
	font-size: 18px;
	color: #0CA79F;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.overlay p {
	text-align: center;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.button-port {
	text-align: center;
	margin-top: 5%;
}

.button-port a {
	transition: all 0.3s ease;
	text-transform: capitalize;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	padding: 8px 30px;
	background-color: #ffffff;
	border-radius: 25px;
	font-size: 16px;
	color: #0CA79F;
	text-decoration: none;
	cursor: pointer;
	border: transparent;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
}

.button-port a:hover {
	border-style: none;
	transition: all 0.3s ease;
	text-transform: capitalize;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	padding: 8px 30px;
	background-color: #0CA79F;
	border-radius: 25px;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	cursor: pointer;
	border: transparent;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
}


/*=====================================
 My portfolio css end 
=======================================*/

/*=====================================
 My Pricing css start 
=======================================*/

.free {
	width: 1px;
	height: 100%;
	background: #d1d1d1;
	margin-left: 96%;
	margin-top: -3%;
	position: absolute;
	opacity: 1;
}

.price:hover .free {
	opacity: 0;
}

.price_inner {
	background: #f1f1f1;
	position: relative;
}
.pricing-details{
    margin-bottom: 80px;
}
.price {
	padding-top: 12px;
	text-align: center;
	background: #f1f1f1;
}

.price img {
	/* margin-left: 3%; */
	margin-top: -20px;
	margin-bottom: -50px;
}

.price h3 {
	font-size: 24px;
	color: #444444;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
}

.price ul li {
	font-size: 16px;
	color: #777777;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 8px;
}

.price ul li:last-child {
	margin-bottom: -50px;
	transition: all .4s;
	-webkit-transition: all .4s ease;
}

.price:hover ul li:last-child {
	margin-bottom: 10px;
}

.price h2 {
	font-size: 32px;
	color: #777777;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
	position: relative;
}

.border_test {
	width: 35px;
	height: 3px;
	background: #444444;
	margin-left: 45%;
	margin-bottom: 15px;
}

.price:hover .border_test {
	background: #0CA79F;
}

.price:hover {

	-webkit-transform: scale(1.12);
	-moz-transform: scale(1.12);
	-o-transform: scale(1.12);
	transform: scale(1.12);
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);

}

.price a {
	color: #0CA79F;
	font-family: 'Baloo Paaji', cursive;
	font-size: 15px;
	font-weight: 500;
	width: 100%;
	margin-top: 35px;
	text-decoration: none;
	opacity: 0;
	display: inline-block;
	text-transform: uppercase;
}

.price i{
    margin-left: 5px;
}
.price:hover a {
	opacity: 1;
	transform: translateY(-30px);
	-webkit-transform: translateY(-30px);
}

.interest_img {
	display: inline-block;
}

.price_img {
	position: absolute;
	z-index: 10;

}

.price_img_hover {
	opacity: 0;

}

.price:hover .price_img {
	opacity: 0;

}

.price:hover .price_img_hover {
	opacity: 1;

}


/*=====================================
 Pricing class end 
=======================================*/

/*=====================================
 work with me  class start 
=======================================*/

.work_with {
	background: #0CA79F;
	border: transparent;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	margin-top: 80px;
	margin-bottom: 15px;
}

.work_with h3 {
	font-size: 24px;
	color: #ffffff;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	margin-top: 28px;
	margin-bottom: -5px;
}

.work_with p {
	font-size: 14px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 35px;
}

.Hire_btn {
	text-align: center;
	margin: 50px 0 20px 0;
}

.Hire_btn a {
	border-style: none;
	transition: all 0.3s ease;
	text-transform: capitalize;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	padding: 8px 30px;
	background-color: #ffffff;
	border-radius: 25px;
	font-size: 16px;
	color: #444444;
	text-decoration: none;
	cursor: pointer;
	border: transparent;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
}

.Hire_btn a:hover {
	border-style: none;
	transition: all 0.3s ease;
	text-transform: capitalize;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	padding: 8px 30px;
	background-color: #ffffff;
	border-radius: 25px;
	font-size: 16px;
	color: #0CA79F;
	text-decoration: none;
	cursor: pointer;
	border: transparent;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
}


/*=====================================
 work with me  class end 
=======================================*/

/*=====================================
  Testimonial class start 
=======================================*/

.testimonial_slick {
	position: relative;
}

.test_inner {
	background: #f1f1f1;
	margin-top: 10px;
	border-radius: 0 15px 5px 15px;
	position: relative;
	margin-bottom: 60px;
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .15);
	z-index: 1;
	overflow: hidden;
}

.testimonial_shape {
	display: inline-block;
	background: #0CA79F;
	overflow: hidden;
	padding-left: 110px;
	top: -20px;
	left: -70px;
	padding-right: 50px;
	position: absolute;
	height: 500px;
	z-index: 2;
	transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
}

.slick-center .test_inner {
	opacity: 0.6;
}

.slick-active.test_inner {
	opacity: 1!important;
}

.test_img img {
	padding-top: 40px;
	padding-left: 35px;
	z-index: 999;
	position: relative;

}

.testimonial_inner {
	margin-top: -12%;
	padding-bottom: 40px;
	padding-left: 28%;
}

.testimonial_inner h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: #444444;
	padding-bottom: 12px;
}

.testimonial_inner h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #444444;
	padding-bottom: 20px;
}

.testimonial_inner p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #444444;
	padding-bottom: 18px;
	padding-right: 15px;
}

.testimonial_inner ul li {
	float: left;
	padding-right: 4px;
}

.testimonial_inner ul li a i {
	color: #0CA79F;
}

.testimonial_inner span {
	margin-left: 61%;
	font-family: 'Sacramento', cursive;
	font-size: 25px;
}

.slidPrev3 {
	position: absolute;
	font-size: 20px;
	color: #444444;
	text-decoration: none;
	cursor: pointer;
	margin-top: -6.2%;
	z-index: 99;
	margin-left: 41%;
}

.slidNext3 {
	position: absolute;
	font-size: 20px;
	color: #444444;
	text-decoration: none;
	cursor: pointer;
	margin-top: -6.2%;
	z-index: 99;
	margin-left: 37.5%;
}

.slidNext3:hover,
.slidPrev3:hover {
	color: #0CA79F;
}

.arrow_test {
	position: relative;
}

.arrow_test span {
	font-size: 30px;
	color: #444444;
	background: #ffffff;
	padding: 5px 46px;
	line-height: 35px;
	border-radius: 25px;
	margin-top: -7.5%;
	margin-left: 35.4%;
	position: absolute;
	z-index: 9;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
}


/*=====================================
  Testimonial part css end 
=======================================*/

/*=====================================
 Contact me  class start 
=======================================*/

.contact_me {
	background: #ffffff;    
    margin-top: -2%;
}

.form {
	background: #ffffff;
	width: 100%;
	padding: 44px 20px 7px 20px;
	border-radius: 5px;
	border: transparent;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.2);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.2);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.2);
	z-index: 999;
	position: inherit;
}


.flato {
	margin-bottom: 21%;
}

.cont-inline .cont-group .form-control,
.cont-inline .cont-group textarea {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	border: 1px solid #dddddd;
	padding: 5px 10px;
	height: 40px;
	color: #777777!important;
	font-size: 14px;
	text-transform: capitalize;
	margin-bottom: 20px;
	background-color: transparent;
	border-radius: 20px;
	padding-left: 17px;
}

.cont-inline .cont-group textarea {
	position: relative;
	height: 120px;
	resize: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #777777!important;
	border-radius: 5px;
}

.send_btn {
	margin-top: 1%;
}

.send_btn a {
	position: absolute;
	border-style: none;
	transition: all 0.3s ease;
	text-transform: capitalize;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	padding: 10px 30px;
	background-color: #ffffff;
	border-radius: 25px;
	font-size: 16px;
	color: #0CA79F;
	text-decoration: none;
	cursor: pointer;
	border: transparent;
	left: 88.5%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.3);
}

.send_btn a:hover {
	background-color: #0CA79F;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	color: #ffffff;
}


/*=====================================
 Contact me  class end 
=======================================*/

/*=====================================
 footer   class start 
=======================================*/

.footer_part {
	position: relative;
	background: #f9f8ff;
	margin-top: -11%;
	padding-top: 10%;
}


.footer_inner {
	text-align: center;
	margin-top: 90px;
	margin-bottom: 62px;
}


.footer_inner a {
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	float: left;
	width: 40px;
	height: 40px;
	line-height: 38px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border: 2px solid transparent;
	transition: all 0.6s ease;
	display: inline-block;
	background: #0CA79F;
	text-decoration: none;
}

.footer_inner p {
	font-size: 16px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: left;
	padding-left: 48px;
}

.one {
	margin-left: 28%;
}

.three {
	margin-left: 13%;
}

.two p {
	margin-right: 30%;
}


/*=====================================
 footer   class end 
=======================================*/

/*=====================================
 Sub-footer   class start 
=======================================*/

.footer-sub {
	background: #0CA79F;
	text-align: center;
}

.footer_text {
	padding: 15px 0 18px 0;
}

.footer_text a {
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-left: 15%;
	text-decoration: none;
}


/*=====================================
 Sub-footer   class end 
=======================================*/

/*=====================================
 get social class start 
=======================================*/

.social_icon {
	position: fixed;
	left: calc(100% - 8px);
	top: 40%;
	z-index: 999;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	display: inline-block;
}

.social_icon ul li {
	margin-top: 5px;
	background: #fff;
	transition: all linear .3s;
	white-space: nowrap;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	border-top: 0.1px solid #c4c4c4;
	border-bottom: 0.1px solid #c4c4c4;
	margin-left: 2%;
}

.social_icon ul li a {
	color: #0CA79F;
	font-size: 16px;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	line-height: 51px;
	padding-right: 23px;
	margin-left: 13px;
	text-decoration: none;
}

.social_icon ul li:hover {
	-o-transform: translateY(-105px, 0);
	-moz-transform: translateY(-105px, 0);
	-webkit-transform: translate(-105px, 0);
	transform: translate(-105px, 0);
}

.social_icon ul li a i {
	color: #0CA79F;
	font-size: 20px;
	text-align: center;
	background: #ffffff;
	line-height: 30px;
	padding: 14px 21px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	margin-right: 6%;
	margin-left: -36%;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	text-decoration: none;
}

.social_icon ul li a:hover i {
	background: #0CA79F;
	color: #ffffff;
}

.tweet :hover i {
	color: #444;
}

.tweet i {
	font-size: 25px;
	color: #0CA79F;
	background: transparent;
	padding-left: 8%;
}

.social_icon ul li.tweet a:before {
	content: "\f17d";
	font-family: 'FontAwesome';
	position: absolute;
	padding-left: 44%;
	font-size: 25px;
	padding-top: 4px;
}

.social_icon ul li.tweet a:after {
	content: "\f099";
	font-family: 'FontAwesome';
	position: absolute;
	padding-left: 3%;
	font-size: 25px;
	padding-top: 4px;

}

/*=====================================
 get social class end 
=======================================*/

/*=====================================
Chatbox Popup Start
=====================================*/

.chat-popup .collapse.in {
	padding: 0 0 78px;

}

.chat-popup .collapse {
	padding: 0px;
}

.popup-box {
	border: 1px solid #0CA79F;
	border-radius: 12px 12px 0 0;
	bottom: 0;
	overflow: hidden;
	position: fixed;
	right: 70px;
	width: 300px;
	z-index: 999;
}

.popup-box .popup-head {
	background-color: #0CA79F;
	clear: both;
	color: #ffffff;
	display: inline-table;
	font-size: 17px;
	padding: 5px 10px;
	width: 100%;
}

.chat-header-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 50%;
	font-size: 14px;
	padding-right: 4px;
	text-decoration: none;
}

.chat-header-button span i {
	padding-left: 10px;
}

.bg_none i {
	color: #444444;
	font-size: 16px;
	line-height: 32px;
	padding-right: 25px;
}

.bg_none:hover i {
	color: #0CA79F;
}

.bg_none {
	background: transparent;
	border: medium none;
	padding: 0px;
}

.popup-head-right a span i {
	text-decoration: none;
	color: #ffffff;
}

.popup-box .popup-head .popup-head-right {
	margin: 9px 0px 0;
}

#accordion.popup-head-left a {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
}

.popup-head-left a i {
	text-decoration: none;
	color: #ffffff;
}

.popup-head-left span {
	font-style: italic;
}

.popup-head-left h2 {
	float: right;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #ffffff;
	text-decoration: none;
	padding-left: 7px;

}

#accordion.popup-head-left i {
	font-size: 16px;
	color: #ffffff;
	float: left;
	margin: 3px;
	padding-right: 5px;
}

.popup-messages-footer > textarea {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-image: none;
	border-left: medium none;
	border-right: medium none;
	border-bottom: medium none;
	border-top: 1px solid #dddddd !important;
	box-shadow: none;
	height: 44px !important;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 4px 10px !important;
	width: 100% !important;
	background: #f1f1f1;
	font-size: 14px;
	resize: none;
}

.popup-messages-footer {
	background: #f1f1f1 none repeat scroll 0 0;
	bottom: 0;
	position: absolute;
	width: 100%;
}

.popup-messages-footer .btn-footer {
	overflow: hidden;
	padding: 1px 10px;
	width: 100%;
}

.simple_round {
	background: #dddddd none repeat scroll 0 0;
	border-radius: 50%;
	color: #4b4b4b !important;
	height: 21px;
	padding: 0 0 0 1px;
	width: 21px;
}

.popup-box .popup-messages {
	height: 313px;
	overflow: auto;
	background: #f1f1f1;
}

.direct-chat-messages {
	overflow: auto;
	padding: 7px 10px;
	transform: translate(0px, 0px);
	-o-transform: translateY(0px, 0px);
	-moz-transform: translateY(0px, 0px);
	-webkit-transform: translate(0px, 0px);

}

.popup-messages .chat-box-single-line {
	border-bottom: 1px solid #a4c6b5;
	height: 12px;
	margin: 7px 0 20px;
	position: relative;
	text-align: center;
}

.popup-messages .chat-box-single-line {
	border-bottom: 1px solid #e4e4e4;
	height: 12px;
	margin: 7px 0 20px;
	position: relative;
	text-align: center;
}

.popup-messages .direct-chat-messages {
	height: auto;
}

.popup-messages .direct-chat-text {
	background: #e5e5e5 none repeat scroll 0 0;
	word-break: break-all;

}

.direct-chat-text::after {
	position: absolute;
	border-width: 7px;
	content: " ";
	width: 0;
	height: 0;
	right: 100%;
	top: 25px;
	border-top: 10px solid transparent;
	border-right: 15px solid #e5e5e5;
	border-bottom: 10px solid transparent;

}

.sound_toggle_btn {
	display: inline-block;
	cursor: pointer;
}

.sound_toggle_btn span {
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	padding-left: 10px;
}

.direct-chat-text2::after {
	position: absolute;
	border-width: 17px;
	content: " ";
	width: 0;
	height: 0;
	left: 100%;
	top: 25px;
	border-top: 10px solid transparent;
	border-left: 15px solid #0CA79F;
	border-bottom: 10px solid transparent;

}

.popup-messages .direct-chat-text2 {
	background: #0CA79F none repeat scroll 0 0;
	margin-left: 2%;
	margin-right: 38%;
	color: #fff;
}

.direct-chat-text {
	background: #d2d6de none repeat scroll 0 0;
	color: #444;
	margin: 6px 0px 24px 96px;
	padding: 19px 15px;

	position: relative;
}

.direct-chat-text2 {
	background: #d2d6de none repeat scroll 0 0;
	color: #444;
	padding: 18px 15px;
	margin-bottom: 18px;
	position: relative;
}

.direct-chat-text h3,
.direct-chat-text2 h3 {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.direct-chat-text2 h4 {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: right;
}

.popup-messages .direct-chat-timestamp {
	opacity: 0.6;
}

.popup-messages .direct-chat-name {
	color: #4611a7;
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 0 49px !important;
	opacity: 0.9;
}

.popup-messages .direct-chat-info {
	display: block;
	font-size: 12px;
	margin-bottom: 0;
}

.popup-messages .direct-chat-img {
	float: left;
	margin: 5px 0 0;
	padding-left: 5px;

}

.popup-messages .direct-chat-img2 {
	float: right;
	margin-top: -32%;
	padding-right: 5px;
}

.direct-chat-reply-name {
	color: #1f1f1f;
	font-size: 15px;
	line-height: 0;
	margin: 0 0 0 10px;
	opacity: 0.9;
}

.popup-messages .direct-chat-msg {
	margin-bottom: 10px;
	position: relative;
}


/*=====================================
Chatbox End 
=======================================*/

/*=====================================
newsletter class start 
=======================================*/

.news_letter {
    position: absolute;
	width: 1170px;
	height: 410px;
	top: 60px;
	background: #ffffff;
    left: -260px;
	z-index: 9999;
    overflow: hidden;
}

.close {
	float: right;
	font-size: 41px;
	font-weight: 700;
	line-height: 50px;
	color: #000;
z-index: 99999;
position: absolute;
right: -280px;
top: 55px;
    opacity: 0.5;
}

.letter_inner {
	text-align: center
}

.letter_inner img {
	padding-bottom: 20px;
	margin-top: 60px;
}

.letter_inner h2 {
	font-size: 21px;
	color: #444444;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
}

.letter_inner p {
	font-size: 16px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-bottom: 26px;
	text-align: center;
	padding-right: 22%;
	padding-left: 22%;
	padding-top: 20px;
	line-height: 24px;
}

.input-group {
	margin-left: 50%;
    transform: translateX(-50%);
}

.input-group a {
	text-decoration: none;
}

.input-group input {
	position: relative;
	color: #707070;
	text-transform: capitalize;
	resize: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
	border: 1px solid #ddd;
	border-radius: 100px;
	font-size: 14px;
	height: 45px;
	background: #ffffff;
	width: 430px;
	padding-left: 20px;
	font-style: italic;
}

.button {
	background: #0CA79F;
	border: 0 none;
	border-radius: 100px;
	color: #ffffff;
	font-size: 20px;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
	outline: 0 none;
	padding: 8px 22px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	z-index: 1;
	transform: translateX(-101%) translateY(-49%);
	-o-transform: translateX(-101%) translateY(-49%);
	-moz-transform: translateX(-101%) translateY(-49%);
	-webkit-transform: translateX(-101%) translateY(-49%);
}

.button:hover {
	background: #ffffff;
	color: #0CA79F;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
}

.form-group {
	margin-bottom: 15px !important;
}

/*=====================================
newsletter class end 
=======================================*/

#top_to i {
	background: #0CA79F;
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	position: fixed;
	bottom: 40px;
	right: 30px;
	cursor: pointer;
	border-radius: 50%;
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
	z-index: 999;
}

#top_to i:hover {
	transform: scale(1.2);
	-o-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.5);

}

#avatar {
	width:90px;
}

.about_social2 h3 {
	font-size: 24px;
	color: #0CA79F;
	font-family: 'Baloo Paaji', cursive;
	font-weight: 400;
    line-height: 24px;
}

.about_social2 ul li i {
	float: left;
	font-size: 20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 1px solid #444444;
	text-align: center;
	color: #444444;
	margin-right: 10px;
    margin-top: 15px;
}

.about_social2 ul li i:hover {
	background: #0CA79F;
	color: #ffffff;
	border: transparent;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	-moz-box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
	box-shadow: 0px 0px 10px 0px rgba(105, 90, 166, 0.9);
}